/* Hero Styles */

.hero {
    margin: 0px 120px;
    margin-top: 270px;
}

.heroText {
    color: #FFF;
    text-shadow: 0 0 15px #292929;
    font-size: 110px;
    font-weight: 500;
    line-height: 100px;
}

.heroExplore {
    display: flex;
    align-items: center;
    gap: 50px;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    cursor: pointer;
    background-color: #FFF;
}

.heroExplore p {
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}

.heroDotPlay {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.heroDots {
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}

.heroDot {
    width: 15px;
    height: 15px;
    background: #FFFF;
    border-radius: 7.5px;
    cursor: pointer;
}

.heroDotOrange {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    cursor: pointer;
    background: rgb(255, 83, 21);
}

.heroPlay {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 30px;
}

.heroPlay p {
    color: #FFF;
    font-size: 19px;
}

.merge {
    display: flex;
    align-items: center;
    justify-content: space-around;
}