.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 120px;
    color: white;
    text-shadow: 0 0 5px #212222;
    position: sticky;

    /* adding text shadow  */



}

.nav-logo {
    font-family: 'Outfit';
    font-size: 50px;
    font-weight: 500;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    /*added font weight */
    gap: 60px;
    /* text-shadow: 0 0 4px black; */
    /*added text shadow to navbar*/

}

li {
    cursor: pointer;
}

.nav-contact {
    border-radius: 50px;
    padding: 10px 38px;
    background: #fff;
    color: #262626;
    text-shadow: none;

}



.nav-menu li.active,
.nav-menu li:hover,
.active {

    color: #EB635E
}