._About::before {
  top: 0;
  content: "";
  /* background-color: rgba(78, 128, 63, 0.875); */
  background: url("../Assets/aboutPageBg.png");
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
._About {
  /* border: 2px solid blue; */
}
.links {
  width: 100%;
  /* border: 2px solid blue; */
  height: 90%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.links > div {
  padding: 20px;
  /* border: 2px solid green; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.links > div > a {
  width: 5rem;
  height: 5rem;
  /* border: 2px solid rgb(87, 179, 159); */
  box-shadow: 0 0 10px rgb(87, 179, 159);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 2rem;
}
.links > div :nth-child(1) {
  background: url("../Assets/twittericon.jpeg") no-repeat center center/cover;
}
.links > div :nth-child(2) {
  background: url("../Assets/instagramicon.jpeg") no-repeat center center/cover;
}
.links > div :nth-child(3) {
  background: url("../Assets/facebookicon.jpeg") no-repeat center center/cover;
}
.links > div :nth-child(4) {
  background: url("../Assets/youtubeicon.jpeg") no-repeat center center/cover;
}

.About {
  display: inline-block;
  /* border: 2px solid blue; */
  padding: 10px;
  margin: 20px;
}
.About > h2 {
  text-shadow: 0 0 3px rgb(9, 23, 21);
  color: rgb(127, 216, 220);
  /* border: 2px solid green; */
  font-size: 2rem;
  font-weight: 500;
  padding: 10px;
}

.About > div {
  background-color: rgba(255, 255, 255, 0.687);
  margin: 1rem;
  border-radius: 15px;
  padding: 0.5rem;
  padding-left: 10px;
  margin-left: 2rem;
  font-size: 1.3rem;
  width: 60vw;
  /* border: 1px solid orange; */
}
.About > div > h3 {
  color: rgb(16, 27, 27);
  font-weight: 500;
  padding: 5px;
  margin-bottom: 0px;
  padding-bottom: 0;

  /* border: 0.5px solid black; */
}
.About > div > p {
  color: rgb(13, 37, 84);
  text-shadow: 0 0 5px white;
  margin-left: 1rem;
  padding: 10px;
  font-size: 1.1rem;
  padding-top: 0;
  margin-top: 0;
  /* border: 1px solid pink; */
}
